<footer class="row text-white  "
style="height: 500px;background-color: rgb(58, 56, 57);padding-top: 50px; padding-left: 100px;">
<div class="col-lg-3">
    <p>THÔNG TIN</p>
    <p>Giới thiệu Maison</p>
    <p>Blog</p>
    <p>Hướng dẫn sử dụng Loyalty Program</p>
    <p>Hệ thống cửa hàng</p>
    <p>Tuyển dụng</p>
    <p>Thông tin liên hệ</p>
</div>
<div class="col-lg-3">
    <p>TRỢ GIÚP</p>
    <p>Chính sách khách hàng thân thiết</p>
    <p>Phương thức thanh toán</p>
    <p>Chính sách giao hàng</p>
    <p>Chính sách mua hàng</p>
    <p>Chính sách đổi trả</p>
    <p>Chính sách bảo hành</p>
    <p>Chính sách bảo mật</p>
</div>
<div class="col-lg-3">
    <p>THANH TOÁN</p>
    <p>Visa / Mastercard / JCB</p>
    <p>ATM / Internet Banking</p>
    <p>Quét mã QR</p>
    <p>Mua trước trả sau</p>
    <p>Ví điện tử</p>
    <p>Thanh toán khi nhận hàng (COD)</p>
</div>
<div class="col-lg-3">
    <p>GIAO HÀNG</p>
    <p>Giao hàng tiêu chuẩn</p>
    <p>Maison NOW</p>
</div>
<div class="text-center">
    © Copyright 2020 MAISON RETAIL MANAGEMENT INTERNATIONAL CORPORATION. All rights reserved. <p></p>
    Địa chỉ: 189 - 197, Dương Bá Trạc, Phường 1, Quận 8, TP.Hồ Chí Minh | MST: 0313175103 | Hotline: 1900
    252 538
</div>
</footer>